/ApplicationInsightsInApiAndWebJob/ApplicationInsightsInApiAndWebJob/bin
/ApplicationInsightsInApiAndWebJob/ApplicationInsightsInApiAndWebJob/obj
/ApplicationInsightsInApiAndWebJob/.vs/ApplicationInsightsInApiAndWebJob/v17/.suo
